@font-face {
    font-family: OpenSans;
    src: url(./fonts/OpenSans-Regular.ttf);
}

* {
    box-sizing: border-box;
}
body {
    margin: 0;
}

.container {
    display: flex;
}
.left_img {
    width: 469px;
    height: 100vh;
    background-image: url(./pics/left-pic.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    display: flex;
}
.frame {
    width: 335px;
    margin-top: 60px;
}
.text {
    font-family: OpenSans;
    font-size: 18px;
    font-weight: 600 !important; 
    line-height: 26px;
    letter-spacing: 0em;
    color: #FFFFFF;
}

.right-form {
    display: flex;
    align-items: center;
    margin: auto;
}
.form {
    width: 340px;
    height: 372px;
}
h1 {
    font-family: OpenSans;
    font-size: 18px;
    font-weight: 700;
    margin: 0;
}
.sub-text {
    font-family: OpenSans;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    color: #6B7280;
}

.bttns {
    margin-top: 30px;
    display: flex;
    gap: 10px;
}
.bttn-google {
    width: 281px;
    height: 48px;
    border: none;
    border-radius: 4px;
    font-family: OpenSans;
    font-size: 16px;
    font-weight: 700;
    color: white;
    background-color: #4285F4;
    display: flex;
    gap: 40px;
    padding: 2px;
    align-items: center;
}
.bttn-g {
    width: 43px;
    height: 43px;
}
.bttn-fb {
    width: 47px;
    height: 48px;
    border: none;
    background: #ECF2FC;
    border-radius: 4px;
}

.line {
    width: 340px;
    height: 1px;
    background-color: #E5E7EB;
    margin-top: 20px;
    margin-bottom: 20px;
    gap: 12px;
}

.input {
    width: 340px;
    height: 48px;
    border-radius: 4px;
    border: 1px solid #E5E7EB;
    background: url("pics/@et.png");
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 40px;
}
.input::placeholder {
    font-family: OpenSans;
    font-size: 14px;
    font-weight: 600;
    color: #D1D5DB;
    
}

.forget-box {
    width: 340px;
    height: 32px;
    padding: 6px;
}
.forget {
    font-family: OpenSans;
    font-size: 14px;
    font-weight: 600;
    color: #6B7280;
}
a:link {
    font-family: OpenSans;
    font-size: 14px;
    font-weight: 600;
    color: #6D58BA;
    text-decoration: none;
}
.submit-bttn {
    width: 340px;
    height: 48px;
    border-radius: 6px;
    background-color: #724DFF;
    font-family: OpenSans;
    font-size: 16px;
    font-weight: 600;
    color: white;
    border: none;
    margin-top: 20px;
}
.last-txt {
    font-family: OpenSans;
    font-size: 14px;
    font-weight: 600;
    color: #6B7280;
}
br {
    display: none;
}
span {
    color: #6D58BA;
}

@media screen and (max-width: 768px) {
    .left_img {
        display: none;
    }
    h1 {
        text-align: center;
        font-size: 20px;
    }
    .sub-text {
        text-align: center;
        font-size: 14px;
    }
    .bttn-fb {
        border-radius: 30px;
    }
    .line {
        display: none;
    }
    .input {
        margin-top: 12px;
        border-radius: 50px;
    }
    .submit-bttn {
        width: 121px;
        margin-left: 119.5px;
    }
    br {
        display: flex;
    }
}